<% content_for :title, "Editing customer" %>

<h1>Editando usuário</h1>

<%= render "form", customer: @customer %>

<br>

<div>
  <%= link_to "Ver detalhes desse usuário", @customer %> |
  <%= link_to "Voltar para os usuários", customers_path %>
</div>
